* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    border: 1px solid red;

}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    
}

/* Header section................................. */
.header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    

}

.header-content {
    text-align: right;
    padding: 216px 230px 0px 0px;
    padding-left: 50%;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;


}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 26px;
    
}

.button-primary {
    background: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    
    color: #005FAC;
    height: 64px;
    width: 160px;
    border-radius: 5px;
    border: 0;
}
/* faliure section.......................................... */
.faliure-section{
    display: flex;
    place-items: center;
    justify-content:space-around;
    margin-right: auto;
    margin-left: auto;
}
.faliure-img {
align-content: center;
margin-top: 130px;
}
.faliure-text i{
color: rgb(29, 200, 17);
}
.faliure-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
    margin-top: 300px;
}
.faliure-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
.faliure-checkmark{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
/* plan section.................................................. */
.plan-title{
    font-weight: 700;
font-size: 40px;
color: #151414;

margin-top: 130px;
}
.plan-section{
    text-align: center;
    
    
}
.skill-container{
display: flex;
justify-content: space-around;
margin: 50px 230px 0px 230px;

}
.skill-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
}
.skill-description{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #737272;
}
.call-section{

width: 100%;
margin: 130px 0;
background-repeat: no-repeat;
background-position: center, center;
height: 300px;
    border: none;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px 015 #005da2;
    background-image: url("/images/gradient1.png"), url("/images/watch.png");
    color: #FFFFFF;
    display:;
    justify-content: left;
    align-items: center;
}

}

.watch-text{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.watch-container{
margin-right: 50%;
padding-left: 294px;
justify-content: center;
align-items: center;
margin-top: 55px;
}